<link rel="stylesheet" href="/fontawesome/css/all.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="./stylesheets/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/fontawesome/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./javascripts/papingComponent.js"></script>
<script src="/javascripts/header.js"></script>
<script src="./javascripts/searchComponent.js"></script>

<div class="navbar">
    <div class="dropdown">
        <div class="dropbtn">Trang chủ</div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Khách hàng</div>
        <div class="dropdown-content">
            <a href="/customer">Danh sách khách hàng</a>
            <a href="/addCustomer">Thêm khách hàng</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Quản lý kho</div>
        <div class="dropdown-content">
            <a href="/addPlank">Thêm ván</a>
            <a href="/addCoveredSurface">Thêm mặt phủ</a>
            <a href="/warehousePlank">Danh sách ván</a>
            <a href="/coveredSurface">Danh sách mặt phủ</a>
            <a href="/listImportPlanks">Danh sách nhập ván</a>
            <a href="/listImportCoverSurface">Danh sách nhập mặt phủ</a>

        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Quản lý đơn hàng</div>
        <div class="dropdown-content">
            <a href="/orderManagement">Danh sách lên đơn</a>
            <a href="/createOrderManagement">Lên đơn</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Quản lý nhân viên</div>
        <div class="dropdown-content">
            <a href="/user">Danh sách nhân viên</a>
            <a href="/addUser">Thêm nhân viên</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Báo cáo</div>
    </div>
</div>