<div class="navbar">
    <div class="dropdown">
        <div class="dropbtn"> <i class="fas fa-eye"></i> Trang chủ</div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-user-tie"></i> Khách hàng</div>
        <div class="dropdown-content">
            <a href="/customer">Danh sách khách hàng</a>
            <a href="/addCustomer">Thêm khách hàng</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"> <i class="fas fa-cube"></i> Quản lý kho</div>
        <div class="dropdown-content">
            <a href="/addPlank">Thêm ván</a>
            <a href="/addCoveredSurface">Thêm mặt phủ</a>
            <a href="/warehousePlank">Danh sách ván</a>
            <a href="/coveredSurface">Danh sách mặt phủ</a>
            <a href="/listImportPlanks">Danh sách nhập ván</a>
            <a href="/listImportCoverSurface">Danh sách nhập mặt phủ</a>

        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-exchange-alt"></i> Quản lý đơn hàng</div>
        <div class="dropdown-content">
            <a href="/orderManagement">Danh sách lên đơn</a>
            <a href="/createOrderManagement">Lên đơn</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-user-friends"></i> Quản lý nhân viên</div>
        <div class="dropdown-content">
            <a href="/user">Danh sách nhân viên</a>
            <a href="/addUser">Thêm nhân viên</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-chart-line"></i> Báo cáo</div>
    </div>
</div>

