<div class="navbar">
    <div class="dropdown">
        <div class="dropbtn"> <i class="fas fa-eye"></i> Trang chủ</div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-user-tie"></i> Khách hàng</div>
        <div class="dropdown-content">
            <a href="/addCustomer"> <i class="fas fa-user-plus"></i> Thêm khách hàng</a>
            <a href="/customer"><i class="fas fa-users"></i> Khách hàng</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"> <i class="fas fa-cube"></i> Quản lý kho</div>
        <div class="dropdown-content">
            <a href="/addPlank"> <i class="fas fa-truck-moving"></i> Nhập ván</a>
            <a href="/addCoveredSurface"><i class="fas fa-truck"></i> Nhập mặt phủ</a>
            <a href="/warehousePlank"><i class="fas fa-store-alt"></i> Kiểm kho ván</a>
            <a href="/coveredSurface"><i class="fas fa-store"></i> Kiểm kho mặt phủ</a>
            <a href="/listImportPlanks"><i class="fas fa-list-ol"></i> Kiểm kho nhập ván</a>
            <a href="/listImportCoverSurface"> <i class="fas fa-list-ul"></i> Kiểm kho nhập mặt phủ</a>

        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-exchange-alt"></i> Quản lý đơn hàng</div>
        <div class="dropdown-content">
            <a href="/createOrderManagement"><i class="fas fa-people-carry"></i> Lên đơn</a>
            <a href="/orderManagement"><i class="fas fa-clipboard-list"></i> Danh sách lên đơn</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-user-friends"></i> Quản lý nhân viên</div>
        <div class="dropdown-content">
            <a href="/addUser"><i class="fas fa-user-plus"></i> Thêm nhân viên</a>
            <a href="/user"><i class="fas fa-user-friends"></i> Nhân viên</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"><i class="fas fa-chart-line"></i> Báo cáo</div>
    </div>
</div>