<!DOCTYPE html>
<html lang="en">

<head>
    <title>KIOT</title>
</head>
<body class="animsition">
    {{#if notIsLogin}}
    {{> header}}
    {{/if}}
        <div class="container">
          {{{body}}}
    </div>
    {{#if notIsLogin}}
    {{> footer}}
    {{/if}}
</body>
</html>