<link rel="stylesheet" href="./stylesheets/createPlank.css">
<div class="form-add-user">
    <form action="/addCoveredSurface" method="post">
        <fieldset>
            <legend>NHẬP MẶT PHỦ</legend>
            <label for="">*Mã màu: </label><br>
            <input type="text" name="MaMau">
            <br>
            <br>
            <label for="">*Số lượng: </label><br>
            <input type="number" min="1" name="SoLuong">
            <br><br>
            <input class="btn-submit" type="submit" value="Nhập ván">
        </fieldset>
    </form>
</div>