<link rel="stylesheet" href="./stylesheets/createCoverSurface.css">

{{#if createSurfaceSuccess}}
    <cd-notification status="success" value="Thêm mặt phủ thành công"></cd-notification>
{{/if}}

<div class="create-cover-surface">
    <h3 class="title-page">THÊM MẶT PHỦ</h3>
    <div class="form-add-cover-surface">
        <form action="/addCoveredSurface" method="post">
            <label for="">*Mã màu: </label><br>
            <input type="text" name="MaMau" required>
            <br>
            <br>
            <label for="">*Số lượng: </label><br>
            <input type="number" min="1" name="SoLuong" required>
            <br><br>
            <input class="btn-submit" type="submit" value="THÊM MẶT PHỦ" >
        </form>
    </div>
</div>