<link rel="stylesheet" href="./stylesheets/createPlank.css">

{{#if createPlankSuccess}}
    <cd-notification status="success" value="Thêm ván thành công"></cd-notification>
{{/if}}

<div class="create-plank">
    <h3 class="title-page">THÊM VÁN</h3>
    <div class="form-add-plank">
        <form action="/addPlank" method="post">
            <label for="">*Mã ván: </label><br>
            <input type="text" name="MaVan" required>
            <br><br>
            <label for="">*Tên ván: </label><br>
            <input type="text" name="TenVan" required>
            <br><br>
            <label for="">*Độ giày: </label>
            <select name="DoDay" id="">
                <option value="20li">20li</option>
                <option value="18li">18li</option>
                <option value="17li">17li</option>
                <option value="15li">15li</option>
                <option value="14li">14li</option>
            </select>
            <br><br>
            <label for="">*Nhà cung cấp: </label><br>
            <input type="text" name="NhaCungCap" required>
            <br><br>
            <label for="">*Chống ẩm: </label>
            <label>Có</label>
            <input type="radio" name="ChongAm" value="Có"  class="moisture-resistant">
            <label>Không</label>
            <input checked="checked" type="radio" name="ChongAm" value="Không" class="moisture-resistant">
            <br><br>
            <label for="">*Đơn giá nhập: </label><br>
            <input type="text" name="DonGia" required>
            <br><br>
            <label for="">*Số lượng: </label><br>
            <input type="number" min="1" name="SoLuong" required>
            <br><br>
            <input class="btn-submit" type="submit" value="THÊM VÁN">
        </form>
    </div>
</div>