.danger{
    background-color: #dc3545;
    color: #fff;
}
.warning{
    background-color: #ffc107;
    color: black;
}
.info{
    background-color: #17a2b8;
    color: #fff;
}
.success
{
    background-color: #28a745;
    color: #fff;
}
.secondary
{
    background-color: #6c757d;
    color: #fff;
}
.primary{
    background-color: #007bff;
    color: #fff;
}
.dark{
    background-color:  #343a40;
    color: #fff;
}

.light{
    background-color: #f8f9fa;
    color: black;
}