.create-cover-surface{
    font-weight: bold;
}
input{
    width: 60%;
}

.btn-submit{
    background-color: #13aa52;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: white;

    
}

.form-add-cover-surface
{
    background-color: white;
    margin-top: 15px;
    margin-left: 5%;
    width: 40%;
    padding: 15px 15px 15px 30px;
}
