
.table{
    width: 90%;
    margin: auto;
    height: 20vh;
    background: white;
    display: block;
    left: 10vw;
    overflow: scroll;
    border: 1px #ccc solid;
    margin-bottom: 10px;
}

.create-order-management .input-none-edit {
    background: #e4dedc;
    border: none;
}
.item{
    white-space: nowrap;
}

.table p {
    display: inline-block;
    margin: 5px;
}



.covered-surface{
    display: none;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  #tags-update-plank{
      display: none;
  }
  pre{
      margin: 0;
  }
  

  .create-order-management {
    background: white;
    padding: 15px 20px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
}

.create-order-management label{
    font-weight: bold;
}
  