.form-add-user
{
    font-size: 20px;
    width: 40%;
    margin-left: 10%;
    margin-top: 10px;
}
input{
    font-size: 15px;
}
select{
    font-size: 15px;
}
.btn-submit{
    background-color: #13aa52;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: white;
}