.dropdown{
    position: relative;
    display: inline-block;
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    }

    .dropbtn{
    padding: 16px;
    border: none;
    margin: 0px;
    cursor: pointer;
    color: white;
    }

    .dropdown-content{
    position: absolute;
    background: #d2ead3;
    width: max-content;
    display: none;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    }

    .navbar{
        background-color:#0090da ;
        display: flex;
        /* font-size: 17px; */
    }
    .dropdown-content a{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-decoration: none;
        color: white;
    }

    .dropdown:hover  .dropdown-content{
        display: block;
        background-color: #0078b6;
        
    }

    .dropbtn:hover {
        background-color: #0078b6;
        border-radius: 5px;
    }

    .dropdown-content a:hover {
        background-color:  #0090da;
    }

  
 