.dropdown{
    position: relative;
    display: inline-block;
    border-left: 1px solid white;
    border-right: 1px solid white;
    }

    .dropbtn{
    padding: 16px;
    /* font-size: 16px; */
    border: none;
    margin: 0px;
    cursor: pointer;
    color: white;
    }

    .dropdown-content{
    position: absolute;
    background: #d2ead3;
    width: max-content;
    display: none;
    z-index: 10;
    }

    .navbar{
        background-color:#13aa52 ;
        display: flex;
        font-size: 17px;
    }
    .dropdown-content a{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-decoration: none;
        color: black;
    }

    .dropdown:hover  .dropdown-content{
        display: block;
    }

    .dropdown-content a:hover {
        background-color:  #f1f1f1;
    }

    /* container each page */
    .container {
        background:white;
        height: 85vh;
        width: 90vw;
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        font-size: 17px;
    }
    body{
        background-color:  #f7f4f4;
    }