#customers{
    border-collapse:collapse ;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
#customers td, #customer th {
    border:  1px solid #ddd;
    padding: 10px 0px;
    text-align: center;
}

#customers tr:hover {background-color: #ddd;}

#customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}


.form-edit-customer{
    width: 30vw;
    margin-left: 25%;
    margin-top: 10px;
    position: fixed;
    background: white;
    padding: 15px 10px 15px 50px;
    top: 10vh;
    border: 1px #eeeeee;
    display: none;
}
.form-edit-customer input{
    width: 60%;
    font-size: 15px;
}
.form-edit-customer select{
    width: 60%;
    font-size: 15px;
}
.form-edit-customer .btn-submit{
    background-color: #13aa52;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: white;

}

.form-edit-customer label{
    font-weight: bold;
}


.form-edit-customer .input-none-edit {
    background: #e4dedc;
    border: none;
}