<div class="page-wrapper">
    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Dashboard</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">Báo cáo doanh thu
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->

        <!-- STATISTIC-->
        <section class="statistic statistic2">
            <div class="container">

                <label for="birthday">Chọn ngày muốn tính doanh số:</label>
                <input type="date" id="report-date" name="report-date">
                <button id="commit" class="btn btn-danger">Xem doanh số</button>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--green">
                            <h2 id="amountOrder" class="number">0</h2>
                            <span class="desc">Đơn hàng</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--orange">
                            <h2 id="amountProductOrder" class="number">0</h2>
                            <span class="desc">Sản phẩm bán được</span>
                            <div class="icon">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--blue">
                            <h2 id="profit" class="number">0</h2>
                            <span class="desc">Đồng/Ngày</span>
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--red">
                            <h2 class="number">0</h2>
                            <span class="desc">chưa biết</span>
                            <div class="icon">
                                <i class="zmdi zmdi-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END STATISTIC-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#commit").click(() => {
            var reportDate = $("#report-date").val();
            $.ajax({
                method: "post",
                url: "/report",
                success: function (result) {
                    $("#amountOrder").text(result.amountOrder);
                    $("#amountProductOrder").text(result.amountProductOrder);
                    $("#profit").text(result.profit);
                },
                data: { data: reportDate }
            })
        })

    })
    function commit() {

        $
    }
</script>