<div class="page-wrapper">
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Thêm</strong>
                                    <small> Sản phẩm</small>
                                </div>
                                <div class="card-body card-block">
                                    <form action="/addproduct" method="post">
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">Ngày</label>
                                            <input name="date" type="text" id="city" placeholder="Enter your city"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="postal-code" class=" form-control-label">Mã hàng</label>
                                            <input name="productCode" type="text" id="postal-code" placeholder="Postal Code"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Loại hàng</label>
                                            <input name="type" type="text" id="company" placeholder="Enter your company name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">Đơn vị tính</label>
                                            <input name="unit" type="text" id="city" placeholder="Enter your city"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="postal-code" class=" form-control-label">Số lượng</label>
                                            <input name="amount" type="text" id="postal-code" placeholder="Postal Code"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="street" class=" form-control-label">Đơn giá </label>
                                            <input name="unitPrice" type="text" id="street" placeholder="Enter street name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Thành tiền</label>
                                            <input  name="intoMoney" type="text" id="country" placeholder="Country name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Mã</label>
                                            <input name="code" type="text" id="company" placeholder="Enter your company name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="vat" class=" form-control-label">Tên nhà cung cấp</label>
                                            <input name="SupplierName" type="text" id="vat" placeholder="DE1234567890" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="street" class=" form-control-label">Xe tải</label>
                                            <input name="truck" type="text" id="street" placeholder="Enter street name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Thanh toán</label>
                                            <input name="pay" type="text" id="country" placeholder="Country name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Ghi chú</label>
                                            <input name="note" type="text" id="country" placeholder="Country name"
                                                class="form-control">
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Duyệt
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Hủy
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>