<link rel="stylesheet" href="./stylesheets/createUser.css">
<div class="create-user">
    <h3 class="title-page">THÊM NHÂN VIÊN</h3>
    <div class="form-add-user">
        <form action="/addUser" method="post">
            <label for="">Họ và tên: </label><br>
            <input type="text" name="Ten" required>
            <br>
            <br>
            <label for="">Email: </label><br>
            <input type="text" name="Email" required>
            <br>
            <br>
            <label for="">Địa chỉ: </label><br>
            <input type="text" name="DiaChi" required>
            <br>
            <br>
            <label for="">Số điện thoại: </label><br>
            <input type="text" name="Sdt" required>
            <br>
            <br>
            <label for="">Ngày sinh: </label><br>
            <input type="text" name="NgaySinh" required>
            <br>
            <br>
            <label for="">Chức vụ: </label><br>
            <select name="ChucVu" id="">
                <option value="Admin">Admin</option>
                <option value="Sale">Người mua bán hàng</option>
                <option value="">Quản lý sản xuất</option>
                <option value="">Kế toán</option>
            </select>
            <br><br>
            <input class="btn-submit" type="submit" value="THÊM NHÂN VIÊN">
        </form>
    </div>
</div>