<link rel="stylesheet" href="./stylesheets/createCustomer.css">
<div class="form-add-user">
    <form action="/addCustomer" method="post">
        <fieldset>
            <legend>THÊM KHÁCH HÀNG MỚI</legend>
            <label for="">Họ và tên khách hàng: </label><br>
            <input type="text" name="TenKhachHang">
            <br>
            <label for="">Email: </label><br>
            <input type="text" name="Email">
            <br>
            <label for="">Đơn vị: </label><br>
            <input type="text" name="DonVi">
            <br>
            <label for="">Địa chỉ: </label><br>
            <input type="text" name="DiaChi">
            <br>
            <label for="">Số điện thoại: </label><br>
            <input type="text" name="Sdt">
            <br>
            <label for="">Công nợ: </label><br>
            <input type="text" name="CongNo">
            <br><br>
            <input class="btn-submit" type="submit" value="Tạo khách hàng mới">
        </fieldset>
    </form>
</div>